<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SpringBootBatis.mapper.PositionSelectionMapper">

    <!-- 获取去重的赛季年份和位置数据 -->
    <select id="getSelection" resultType="com.example.SpringBootBatis.bean.dataBase.PositionSelectionBean">
        SELECT DISTINCT position
        FROM nba_players_stats
    </select>

</mapper>
