<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SpringBootBatis.mapper.TenGameMapper">

    <!-- 获取最近10场比赛信息，返回中文全称 -->
    <select id="getLastTenGameInformation" resultType="com.example.SpringBootBatis.bean.dataBase.TenGameBean">
        SELECT date,
               CASE
                   WHEN leftName = '老鹰' THEN '亚特兰大老鹰'
                   WHEN leftName = '凯尔特人' THEN '波士顿凯尔特人'
                   WHEN leftName = '篮网' THEN '布鲁克林篮网'
                   WHEN leftName = '黄蜂' THEN '夏洛特黄蜂'
                   WHEN leftName = '公牛' THEN '芝加哥公牛'
                   WHEN leftName = '骑士' THEN '克利夫兰骑士'
                   WHEN leftName = '独行侠' THEN '达拉斯独行侠'
                   WHEN leftName = '掘金' THEN '丹佛掘金'
                   WHEN leftName = '活塞' THEN '底特律活塞'
                   WHEN leftName = '勇士' THEN '金州勇士'
                   WHEN leftName = '火箭' THEN '休斯顿火箭'
                   WHEN leftName = '步行者' THEN '印第安纳步行者'
                   WHEN leftName = '快船' THEN '洛杉矶快船'
                   WHEN leftName = '湖人' THEN '洛杉矶湖人'
                   WHEN leftName = '灰熊' THEN '孟菲斯灰熊'
                   WHEN leftName = '热火' THEN '迈阿密热火'
                   WHEN leftName = '雄鹿' THEN '密尔沃基雄鹿'
                   WHEN leftName = '森林狼' THEN '明尼苏达森林狼'
                   WHEN leftName = '鹈鹕' THEN '新奥尔良鹈鹕'
                   WHEN leftName = '尼克斯' THEN '纽约尼克斯'
                   WHEN leftName = '雷霆' THEN '俄克拉荷马城雷霆'
                   WHEN leftName = '魔术' THEN '奥兰多魔术'
                   WHEN leftName = '76人' THEN '费城76人'
                   WHEN leftName = '太阳' THEN '菲尼克斯太阳'
                   WHEN leftName = '开拓者' THEN '波特兰开拓者'
                   WHEN leftName = '国王' THEN '萨克拉门托国王'
                   WHEN leftName = '马刺' THEN '圣安东尼奥马刺'
                   WHEN leftName = '猛龙' THEN '多伦多猛龙'
                   WHEN leftName = '爵士' THEN '犹他爵士'
                   WHEN leftName = '奇才' THEN '华盛顿奇才'
                   ELSE leftName
                   END AS leftName,
               CASE
                   WHEN rightName = '老鹰' THEN '亚特兰大老鹰'
                   WHEN rightName = '凯尔特人' THEN '波士顿凯尔特人'
                   WHEN rightName = '篮网' THEN '布鲁克林篮网'
                   WHEN rightName = '黄蜂' THEN '夏洛特黄蜂'
                   WHEN rightName = '公牛' THEN '芝加哥公牛'
                   WHEN rightName = '骑士' THEN '克利夫兰骑士'
                   WHEN rightName = '独行侠' THEN '达拉斯独行侠'
                   WHEN rightName = '掘金' THEN '丹佛掘金'
                   WHEN rightName = '活塞' THEN '底特律活塞'
                   WHEN rightName = '勇士' THEN '金州勇士'
                   WHEN rightName = '火箭' THEN '休斯顿火箭'
                   WHEN rightName = '步行者' THEN '印第安纳步行者'
                   WHEN rightName = '快船' THEN '洛杉矶快船'
                   WHEN rightName = '湖人' THEN '洛杉矶湖人'
                   WHEN rightName = '灰熊' THEN '孟菲斯灰熊'
                   WHEN rightName = '热火' THEN '迈阿密热火'
                   WHEN rightName = '雄鹿' THEN '密尔沃基雄鹿'
                   WHEN rightName = '森林狼' THEN '明尼苏达森林狼'
                   WHEN rightName = '鹈鹕' THEN '新奥尔良鹈鹕'
                   WHEN rightName = '尼克斯' THEN '纽约尼克斯'
                   WHEN rightName = '雷霆' THEN '俄克拉荷马城雷霆'
                   WHEN rightName = '魔术' THEN '奥兰多魔术'
                   WHEN rightName = '76人' THEN '费城76人'
                   WHEN rightName = '太阳' THEN '菲尼克斯太阳'
                   WHEN rightName = '开拓者' THEN '波特兰开拓者'
                   WHEN rightName = '国王' THEN '萨克拉门托国王'
                   WHEN rightName = '马刺' THEN '圣安东尼奥马刺'
                   WHEN rightName = '猛龙' THEN '多伦多猛龙'
                   WHEN rightName = '爵士' THEN '犹他爵士'
                   WHEN rightName = '奇才' THEN '华盛顿奇才'
                   ELSE rightName
                   END AS rightName,
               leftGoal, rightGoal
        FROM nba_schedule
        WHERE leftGoal != 0 AND rightGoal != 0
          AND leftName != '' AND rightName != ''
          AND leftName != '中国男篮' AND rightName != '中国男篮'
          AND date 	&lt;= #{currentDate}
        ORDER BY date DESC
        LIMIT 10
    </select>

    <!-- 获取接下来10场比赛信息，返回中文全称 -->
    <select id="getNextTenGameInformation" resultType="com.example.SpringBootBatis.bean.dataBase.TenGameBean">
        SELECT date,
               CASE
                   WHEN leftName = '老鹰' THEN '亚特兰大老鹰'
                   WHEN leftName = '凯尔特人' THEN '波士顿凯尔特人'
                   WHEN leftName = '篮网' THEN '布鲁克林篮网'
                   WHEN leftName = '黄蜂' THEN '夏洛特黄蜂'
                   WHEN leftName = '公牛' THEN '芝加哥公牛'
                   WHEN leftName = '骑士' THEN '克利夫兰骑士'
                   WHEN leftName = '独行侠' THEN '达拉斯独行侠'
                   WHEN leftName = '掘金' THEN '丹佛掘金'
                   WHEN leftName = '活塞' THEN '底特律活塞'
                   WHEN leftName = '勇士' THEN '金州勇士'
                   WHEN leftName = '火箭' THEN '休斯顿火箭'
                   WHEN leftName = '步行者' THEN '印第安纳步行者'
                   WHEN leftName = '快船' THEN '洛杉矶快船'
                   WHEN leftName = '湖人' THEN '洛杉矶湖人'
                   WHEN leftName = '灰熊' THEN '孟菲斯灰熊'
                   WHEN leftName = '热火' THEN '迈阿密热火'
                   WHEN leftName = '雄鹿' THEN '密尔沃基雄鹿'
                   WHEN leftName = '森林狼' THEN '明尼苏达森林狼'
                   WHEN leftName = '鹈鹕' THEN '新奥尔良鹈鹕'
                   WHEN leftName = '尼克斯' THEN '纽约尼克斯'
                   WHEN leftName = '雷霆' THEN '俄克拉荷马城雷霆'
                   WHEN leftName = '魔术' THEN '奥兰多魔术'
                   WHEN leftName = '76人' THEN '费城76人'
                   WHEN leftName = '太阳' THEN '菲尼克斯太阳'
                   WHEN leftName = '开拓者' THEN '波特兰开拓者'
                   WHEN leftName = '国王' THEN '萨克拉门托国王'
                   WHEN leftName = '马刺' THEN '圣安东尼奥马刺'
                   WHEN leftName = '猛龙' THEN '多伦多猛龙'
                   WHEN leftName = '爵士' THEN '犹他爵士'
                   WHEN leftName = '奇才' THEN '华盛顿奇才'
                   ELSE leftName
                   END AS leftName,
               CASE
                   WHEN rightName = '老鹰' THEN '亚特兰大老鹰'
                   WHEN rightName = '凯尔特人' THEN '波士顿凯尔特人'
                   WHEN rightName = '篮网' THEN '布鲁克林篮网'
                   WHEN rightName = '黄蜂' THEN '夏洛特黄蜂'
                   WHEN rightName = '公牛' THEN '芝加哥公牛'
                   WHEN rightName = '骑士' THEN '克利夫兰骑士'
                   WHEN rightName = '独行侠' THEN '达拉斯独行侠'
                   WHEN rightName = '掘金' THEN '丹佛掘金'
                   WHEN rightName = '活塞' THEN '底特律活塞'
                   WHEN rightName = '勇士' THEN '金州勇士'
                   WHEN rightName = '火箭' THEN '休斯顿火箭'
                   WHEN rightName = '步行者' THEN '印第安纳步行者'
                   WHEN rightName = '快船' THEN '洛杉矶快船'
                   WHEN rightName = '湖人' THEN '洛杉矶湖人'
                   WHEN rightName = '灰熊' THEN '孟菲斯灰熊'
                   WHEN rightName = '热火' THEN '迈阿密热火'
                   WHEN rightName = '雄鹿' THEN '密尔沃基雄鹿'
                   WHEN rightName = '森林狼' THEN '明尼苏达森林狼'
                   WHEN rightName = '鹈鹕' THEN '新奥尔良鹈鹕'
                   WHEN rightName = '尼克斯' THEN '纽约尼克斯'
                   WHEN rightName = '雷霆' THEN '俄克拉荷马城雷霆'
                   WHEN rightName = '魔术' THEN '奥兰多魔术'
                   WHEN rightName = '76人' THEN '费城76人'
                   WHEN rightName = '太阳' THEN '菲尼克斯太阳'
                   WHEN rightName = '开拓者' THEN '波特兰开拓者'
                   WHEN rightName = '国王' THEN '萨克拉门托国王'
                   WHEN rightName = '马刺' THEN '圣安东尼奥马刺'
                   WHEN rightName = '猛龙' THEN '多伦多猛龙'
                   WHEN rightName = '爵士' THEN '犹他爵士'
                   WHEN rightName = '奇才' THEN '华盛顿奇才'
                   ELSE rightName
                   END AS rightName,
               leftGoal, rightGoal
        FROM nba_schedule
        WHERE date &gt; #{currentDate}
          AND leftGoal != 0 AND rightGoal != 0
          AND leftName != '' AND rightName != ''
          AND leftName != '中国男篮' AND rightName != '中国男篮'
        ORDER BY date
        LIMIT 10
    </select>

</mapper>
